/*CSS vaule for body  tag: this property will controll the background margining */
body {
    margin:0;
}

/*CSS vaule for header Div Section: this property will controll the background color
for header div section*/
.topHeaderSection {

    padding: 80px 80px 80px ;
    background-color: #00856f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#appBanner #siteLog{
    padding-left: 10px;
    vertical-align: middle;

}
#appBanner .passTitle{
    font-family: Chalkduster ;
    border: solid;
    display: inline;
    justify-content: space-between;
    margin: top;
}


.headerParagraph{
    width: 100px;
    font-family: 'Courier New', monospace;;
    display: inline;

}
.innerText{
    font-style: italic;
    text-decoration: solid;
    font-family: Apple Chancery;
}



