/*CSS vaule for body  tag: this property will controll the background margining */
body {
    margin:0;
}

/*CSS vaule for header Div Section: this property will controll the background color
for header div section*/
.topHeaderSection {
    background-color: #5A8F7B;
}

/*CSS vaule for header Div Section h1 and p tag: this property will controll the background margining*/
.leftHeaderSection h1,p{
    margin-left: 25px;
}

.rightHeaderSection nav ul{
    float: right;
    margin-right:100px ;
}

